<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evilthreads.drawersnifferlib">
    <application>
        <service android:name=".NotificationInterceptorService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>